<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="php-5.2.17" />
            <add name="php-7" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="E:\phpstudy\PHPTutorial\php\php-7.1.13-nts\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>

    </system.webServer>
</configuration>
